################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HarbourhopPaymentSystem/obj
/HarbourhopPaymentSystem/bin
