@model String
@{
    ViewData["Title"] = "Harbour Hop Payment";
    Layout = "_Layout";
}

<h2>@Model</h2>
<p>If you need our help, drop us a line: <a href="mailto:harbourhop@gmail.com">harbourhop@gmail.com</a>.</p>

