@model String
@{
    ViewData["Title"] = "Harbour Hop Payment";
    Layout = "_Layout";
}

<h2>@Model</h2>

<p>Whoops!.. Something went wrong with your payment...
<br>Check your account to see what happened?...
<br>You might want to give it another try.
<br>If you need our help, drop us a line: harbourhop@gmail.com.</p>

