@model String
@{
    ViewData["Title"] = "Harbour Hop Payment";
    Layout = "_Layout";
}

<h2>@Model</h2>
<p>
    You want to pay us ...again?! We are sure thrilled, but maybe not?
    <br>Check your bank / PayPal account and your mailbox to see what happened.
    <br>If you need our help, drop us a line: <a href="mailto:harbourhop.reg@gmail.com">harbourhop.reg@gmail.com</a>.
</p>

