@model String
@{
    ViewData["Title"] = "Harbour Hop Payment";
    Layout = "_Layout";
}

<h2>@Model</h2>
<p>You want to pay us ...agan?! We are sure thrilled, but maybe not? 
<br>Check your account and you mailbox to see what happened.
<br>If you need our help, drop us a line: harbourhop@gmail.com.</p>

