@using HarbourhopPaymentSystem.Models;

@{
    ViewData["Title"] = "Harbour Hop Payment System - Payment Status";
}

@model PaymentStatusViewModel


<h2>@ViewData["Title"]</h2>

@if (Model.Success)
{
<p>
    Hurrah! Your payment has been successfully processed!
    <br>Thank you for confirming the booking.
    <br>Have a look at the confirmation email in your mailbox and see you on the dance floor in Rotterdam. Can’t wait!
</p>
     <img src="~/images/paymentsuccess.gif" alt="Throw Money" class="center">
}
else
{

    <p>Whoops!.. Something went wrong with your payment...
    <br>Check your account to see what happened?...
    <br> You might want to give it another try.
    <br>If you need our help, drop us a line: <a href="mailto:harbourhop@gmail.com">harbourhop@gmail.com</a>.</p>

<img src="~/images/paymentfailed.gif" alt="Throw Money" class="center">
}
